.slider-block__slide {
  position: relative;
}

.slider-block__slide--preview {
  padding: 16px;
  aspect-ratio: 16 / 9
}

.slider-block__slide--navigation {
  padding: 10px;
  aspect-ratio: 1 / 1
}

.slider-block__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-block__image--preview {
  cursor: pointer;
}

.slider-block__btn-prev,
.slider-block__btn-next {
  width: 48px;
  height: 48px;
}

.slider-block__btn-prev {
  left: -85px;
}

.slider-block__btn-next {
  right: -85px;
}

.slider-block__btn-prev:before,
.slider-block__btn-next:before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.slider-block__btn-prev:before {
  background-image: url("./images/arrow-left.svg");
}

.slider-block__btn-next:before {
  background-image: url("./images/arrow-right.svg");
}

@media (min-width: 992px) {
  .slider-block__slide--preview {
    padding: 10px;
  }
}
