{% extends "base.html" %}

{% load i18n %}
{% load static %}


{% block title %}{% translate "Главная" %}{% endblock title %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'slider/_vendors/slick-carousel/slick.css' %}"/>
  <link rel="stylesheet" href="{% static 'slider/_vendors/slick-carousel/slick-theme.css' %}"/>
  <link rel="stylesheet" href="{% static 'slider/_vendors/zoomist/zoomist.css' %}"/>

  <link rel="stylesheet" href="{% static 'slider/sync-slider.css' %}"/>
  <link rel="stylesheet" href="{% static 'slider/fullscreen-image-view.css' %}"/>
{% endblock styles %}

{% block javascript %}
  <script src="{% static 'slider/_vendors/slick-carousel/slick.min.js' %}"></script>
  <script src="{% static 'slider/_vendors/zoomist/zoomist.umd.js' %}"></script>

  <script src="{% static 'slider/sync-slider.js' %}"></script>
  <script src="{% static 'slider/fullscreen-image-view.js' %}"></script>

  <script src="{% static 'pages/index.js' %}"></script>
{% endblock javascript %}

{% block content %}
  <section id="hero" class="hero py-3 py-md-5 bg-black">
    <div class="container-xl mt-4 mt-md-5">
      {% include "pages/_includes/hero.html" %}
    </div>
  </section>

  <section id="advantages" class="advantages py-3 py-md-5 bg-black">
    <div class="container-xl mb-2">
      <div class="row align-items-center">
        {% include "pages/_includes/advantages.html" %}
      </div>
    </div>
  </section>

  <section id="gallery" class="gallery py-5">
    <div class="gallery__container container-xl px-0">
      <h2 class="mb-4 my-md-5 display-6 fw-bold text-center">
        {% translate "Фотографии" %}
      </h2>
      <div class="row gx-0 justify-content-center">
        <div class="col col-md-10 col-xl-11 px-md-5">
          {% include "slider/_includes/slider.html" with slides=slides slider_class_name='gallery-slider' %}
        </div>
      </div>
    </div>
  </section>

  {% include "slider/_includes/fullscreen-image-view.html" %}
{% endblock content %}
