<div class="fullscreen-image-view">
  <div class="fullscreen-image-view__overlay">
    <div class="zoomist-container fullscreen-image-view__container">

      <div class="zoomist-zoomer-button fullscreen-image-view__close">
        &times;
      </div>

      <div class="zoomist-wrapper fullscreen-image-view__wrapper">
        <div class="zoomist-image fullscreen-image-view__image">
          <img class="fullscreen-image-view__img" src="" alt="">
        </div>
      </div>

    </div>
  </div>
</div>
