{% load thumbnail %}

<div class="slider-block {{ slider_class_name }}">

  <div class="slider-block__preview">
    {% for slide in slides %}
      <div class="slider-block__slide slider-block__slide--preview">
        <img
          class="slider-block__image slider-block__image--preview rounded-1"
          data-lazy="{{ slide.image.url }}"
          alt="{{ slide.name }}"
        >
      </div>
    {% endfor %}
  </div>

  {% if slides.count > 1 %}
    <div class="position-relative">
      <div class="slider-block__navigation mt-1">
        {% for slide in slides %}
          {% comment %}
            TODO:
              - Move hardcoded thumbnail options (size) to THUMBNAIL_ALIASES variable
              to avoid duplication across the codebase.
              - Generate thumbnails on slide image upload.
          {% endcomment %}
          {% thumbnail slide.image 210x210 crop as thumb_nav_md %}
          {% thumbnail slide.image 146x146 crop as thumb_nav_sm %}
          <div class="slider-block__slide slider-block__slide--navigation">
            <picture>
              <source
                media="(min-width: 576px)"
                srcset="{{ MEDIA_URL }}{{ slide.thumb_nav_md|default:thumb_nav_md }}"
              >
              <img
                src="{{ MEDIA_URL }}{{ slide.thumb_nav_sm|default:thumb_nav_sm }}"
                class="slider-block__image slider-block__image--navigation rounded-1"
                alt="{{ slide.name }}"
              >
            </picture>
          </div>
        {% endfor %}
      </div>
      <div class="slider-block__control">
        <button class="slider-block__btn-prev slick-prev"></button>
        <div class="slider-block__btn-next slick-next"></div>
      </div>
    </div>
  {% endif %}

</div>
