{% load thumbnail %}

<div class="slider-block {{ slider_class_name }}">

  <div class="slider-block__preview">
    {% for slide in slides %}
      <div class="slider-block__slide slider-block__slide--preview">
        <img
          class="slider-block__image slider-block__image--preview rounded-1"
          data-lazy="{{ slide.image.url }}"
          alt="{{ slide.name }}"
        >
      </div>
    {% endfor %}
  </div>

  {% if slides.count > 1 %}
    <div class="position-relative">
      <div class="slider-block__navigation mt-1">
        {% for slide in slides %}
          {% thumbnail slide.image 210x210 crop as slide_image_nav_md %}
          {% thumbnail slide.image 146x146 crop as slide_image_nav_sm %}
          <div class="slider-block__slide slider-block__slide--navigation">
            <picture>
              <source media="(min-width: 576px)" srcset="{{ slide_image_nav_md.url }}">
              <img
                src="{{ slide_image_nav_sm.url }}"
                class="slider-block__image slider-block__image--navigation rounded-1"
                alt="{{ slide.name }}"
              >
            </picture>
          </div>
        {% endfor %}
      </div>
      <div class="slider-block__control">
        <button class="slider-block__btn-prev slick-prev"></button>
        <div class="slider-block__btn-next slick-next"></div>
      </div>
    </div>
  {% endif %}

</div>
