{% load i18n %}
{% load static %}

<div class="col-lg-6 mb-4 order-lg-2">
  <div class="row justify-content-center text-center">
    <div class="col-6 col-md-5 mb-4">
      <div class="advantages__feature-icon mb-4">
        <img src="{% static 'images/icons/shuttle-space.svg' %}">
      </div>
      <p class="advantages__text p-lg-3 fw-semibold small">
        {% translate "Спейс шаттлы — пилотируемые корабли" %}
      </p>
    </div>
    <div class="col-6 col-md-5 mb-4">
      <div class="advantages__feature-icon mb-4">
        <img src="{% static 'images/icons/telescope.svg' %}">
      </div>
      <p class="advantages__text fw-semibold small">
        {% translate "Лучшее телескопическое оборудование" %}
      </p>
    </div>
    <div class="col-6 col-md-5">
      <div class="advantages__feature-icon mb-4">
        <img src="{% static 'images/icons/moon-stars-fill.svg' %}">
      </div>
      <p class="advantages__text fw-semibold small">
        {% translate "Исследовательские станции на Луне — шаг к новым открытиям" %}
      </p>
    </div>
    <div class="col-6 col-md-5">
      <div class="advantages__feature-icon mb-4">
        <img src="{% static 'images/icons/medal.svg' %}">
      </div>
      <p class="advantages__text fw-semibold small">
        {% translate "Золотая медаль по научным исследованиям" %}
      </p>
    </div>
  </div>
</div>

<div class="col-lg-6 mb-4 order-lg-1">
  <div class="advantages__image-wrapper">
    <img
      src="{% static 'images/earth.jpg' %}"
      class="advantages__image w-100 h-100 object-fit-cover rounded-1"
      alt="Earth"
    >
  </div>
</div>
